# 模型输出文件（由 DVC 管理）
/tree_model.joblib
/tree_metrics.json
/tree_structure.png
/tree_structure_full.png
/cat_model.cbm
/cat_metrics.json
/cat_feature_importance.png
/cat_feature_importance_full.png
/xgb_model.json
/xgb_metrics.json
/xgb_feature_importance.png
/xgb_feature_importance_full.png
/mlp_model.joblib
/mlp_loss_curve.png
/mlp_metrics.json
/mlp_weight_hist.png
/linear_model.joblib
/linear_metrics.json
/residual_linear.png
/pred_vs_actual_linear.png
/mlp_scaler.joblib
